[submodule "personal/modules/foreign/bookmark-plus"]
	path = personal/modules/foreign/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
	ignore = untracked
[submodule "personal/modules/foreign/dired-plus"]
	path = personal/modules/foreign/dired-plus
	url = https://github.com/emacsmirror/dired-plus.git
	ignore = untracked
