# contributor: Wolfgang Ramos
# name: new icon set
# group: icons
# condition: t
# type: snippet
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# --
<IconSet Id="$1" SmallIcon="$2" HoverSmallIcon="$3$ LargeIcon="$4" HoverLargeIcon="$5"></IconSet>