# name: Visitour Server SOAP envelope
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: soap
# --
<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <${1:web service name}Request xmlns="http://www.tourenserver.de/">
      $0
    </$1Request>
  </soap:Body>
</soap:Envelope>