# contributor: Wolfgang Ramos
# name: fls sql query
# key: entry
# group: fls
# condition: t
# type: snippet
# --
#+CAPTION: ${1:Query}
#+BEGIN_SRC sql :exports both :cache no
${0:Select * from vtsauftrag;}
#+END_SRC
#+CAPTION: $1
#+RESULTS:
{placeholder}
