# contributor: Wolfgang Ramos
# name: fls documentation use case
# condition: t
# type: snippet
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# --
***** Use Case: $1

- Voraussetzungen:
  - $2
- Ablauf:
  1. $3
- Ergebnis:
  - $4
- Anmerkungen:
  - $0