# contributor: Wolfgang Ramos
# name: fls documentation use case
# condition: t
# type: snippet
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# --
** Use Case: $1

- Preconditions:
  - $2
- Procedure:
  1. $3
- Results:
  - Positive
    - $4
  - Negative
    -
- Remarks:
  - $0