# contributor: Wolfgang Ramos
# key: list
# name: <list ...><item>...<item/>
# group: comment
# type: snippet
# condition: 'in-comment
# --
<list type="${1:$$(yas-choose-value '("bullet" "number" "table"))">  
    ${2:<listheader>
        <term>term</term>
        <description>description</description>
    </listheader>} 
    <item>
        <term>term</term>  
        <description>description</description>  
    </item>  
</list>  
